# Also documentation for me of what we actually want.

# What we want:
# Project
#   .kicad_pro     project
# Schematic
#   .kicad_sch     schematic  including the symbols used
#   sym-lib-table  list of symbol libraries
# Board
#   .kicad_pcb     board
#   fp-lib-table   list of footprint libraries
# Libs
#   .kicad_sym     symbols multiple per file, not in any special folder
#   foo.pretty/    folder for footprint files  the folder is the library
#     .kicad_mod     footprint one per file
# Other
#   .kicad_wks   worksheet if custom ones are defined
#   .net         component footprint association file
#   .cmp         

# Things to ignore
#   .kicad_prl   local project settings
#   fp-info-cache  footprint cache to speed up loading

# Ignore gerbers.
# We commit and then remove after each fabrication
*/gerber_*/*.gbr
*/gerber_*/*.gbrjob
*/gerber_*/*.drl
*/gerber_*/*.ps
*/gerber_*/*.svg
*/gerber_*/*.dxf
*/gerber_*.zip
 


# References
# KiCad 6 files:
#       https://dev-docs.kicad.org/en/file-formats/
#       https://docs.kicad.org/6.0/en/kicad/kicad.html#kicad_files_and_folders
# https://en.wikibooks.org/wiki/Kicad/file_formats
# https://docs.kicad.org/5.1/en/getting_started_in_kicad/getting_started_in_kicad.html#note-about-portability-of-kicad-project-files
# https://github.com/github/gitignore/blob/master/KiCad.gitignore

  
# Every library must be explicitly added to so called library tables. (fp-lib-table for footprints, sym-lib-table for symbols) These library tables are managed using library managers.


# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# backups
*-backups/

\#auto_saved_files\#


# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
/gerber/
/.\*/
/old
*.DS_Store
